{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container-fluid px-0">
    <section class="container-fluid bg-dark jumbotron text-light pt-5">
        <div class="row h-100">
            <div class="col-6 px-0 py-0 d-flex justify-content-center align-items-center h-100">
                <img class="h-75" src="{% static 'images/asset_iphone_floating2.png' %}" alt="">
            </div>
            <div class="col-6 center-block-v">
                <h2 class="text-center fs-1">Now Available On iPhone</h2>
                <span>Everything you need at the touch of a button</span>
            </div>
        </div>
    </section>
    <section class="container-fluid bg-light jumbotron px-0 pt-5">
        <h2>Hi</h2>
    </section>
</main>
{% endblock content %}